<div>
    <p>O seguro estagiário visa cobrir acidentes que ocorram ao longo de sua jornada de trabalho. Além disso, nessa modalidade, o seguro oferece a garantia de amparo mesmo em acidentes fora do expediente, o que se configura, portanto, para qualquer acidente pessoal.</p>
</div>
