<div>
    <div>
        A TGL Consultoria Financeira é a representante oficial da OABPrev MG, o plano previdenciário desenvolvido exclusivamente para
        advogados.
    </div>
    <h3>Por que aderir ao OABPREV através da TGL Consultoria?</h3>
    <div>Com o plano previdenciário OABPrev o(a) advogado(a) conta com as melhores condições para planejar o seu futuro,
        com as menores taxas do mercado e com excelente rentabilidade, pois a OABPrev é uma entidade sem fins
        lucrativos.</div>
    <div>Além disso, com o plano previdenciário para advogados, você também poderá contar com benefícios adicionais, que
        visam proteger a sua renda profissional e a sua família, como o pecúlio por morte prematura ou invalidez, por acidente ou doença.</div>
</div>
