<p><span>Seu lar te proporciona conforto, segurança, prazer e momentos inesquecíveis, não é mesmo?</span></p>
<p><span>Proteger esse patrimônio de riscos como roubo ou furto, danos elétricos, vendaval, granizo e incêndio é extremamente importante. O Seguro Residencial possui uma excelente relação investimento x benefícios, já que, além de trazer segurança e tranquilidade, disponibiliza assistências como Chaveiros, Eletricistas, Vidraceiros, Segurança, Instalação de quadros entre outros.</span></p>
<p><span>Entre em contato conosco e confira de perto todas as vantagens que o Seguro Residencial e a consultoria da TGL podem lhe oferecer!</span></p>
