<p><span>Seguro mesmo é ser bem atendido o tempo todo e contar com as melhores opções em seguros de automóvel do mercado. Por isso, a TGL disponibiliza um atendimento 24 horas, 7 dias por semana, para que você tenha toda assistência e se sinta amparado e com os problemas prontamente resolvidos em qualquer ocasião. </span></p>
