<p>Administrar uma escola exige muito planejamento e responsabilidade. Para garantir proteção e segurança para alunos, professores e funcionários, a TGL Consultoria Financeira oferece os melhores produtos em Seguro Escolar. Não seja surpreendido com despesas e responsabilidades inesperadas decorrentes de acidentes, protegendo sua escola 24 Horas por dia por meio de uma ampla rede de hospitais e clínicas credenciadas.
</p>

<h3>Coberturas:</h3>

<ul>
    <li>Morte Acidental</li>
    <li>Capital Segurado Máximo: 100X o valor referência* para efeito de seguro.</li>
    <li>Despesas Médico-Hospitalares e Odontológicas decorrentes de acidentes</li>
    <li>Capital Segurado Máximo: Até 100X o valor referência* para efeito de seguro.</li>
    <li>Indenização por Invalidez Permanente Total ou Parcial por Acidente</li>
    <li>Capital Segurado Máximo: Até 100X o valor referência* para efeito de seguro.</li>
</ul>

<p><strong>Fale com os nossos corretores e conheça mais sobre o Seguro Escolar.</strong></p>

<p><small><em>*O valor referência não tem qualquer vínculo com a mensalidade escolar e poderá ser alterado anualmente a cada renovação da apólice.</em></small></p>
