<p>Milhões de reais já foram economizados pelos nossos clientes por meio de uma consultoria estratégica contábil e
    tributária, que protege e potencializa sua vida financeira. A ausência de planejamento, bem como a falta de
    conhecimento sobre a legislação fiscal, são fatores que comprometem o patrimônio pessoal e o desempenho de sua
    empresa.</p>
<p>Faça uma análise contábil e tributária com os nossos consultores sem compromisso. Analisaremos as suas finanças
    com eficiência e juntos definiremos a melhor forma de utilização dos seus recursos financeiros, redirecionando
    seu foco de trabalho para que você invista no que de fato lhe trará benefício.</p>
<h4>O que fazemos</h4>
<ul>
    <li>
        Registro de toda a movimentação das empresas efetuando o Registro das entradas e saídas de
        Recursos.
    </li>
    <li>Escrituração dos livros e demonstrativos contábeis com base nos registros
        efetuados.
    </li>
    <li>Registro dos Livros contábeis obrigatórios.</li>
    <li>Escrituração atualizada dentro do mês de recebimento da documentação.</li>
    <li>
        Relatório Gerencial Contábil.
    </li>
    <li>
        Apuração dos impostos Municipais , Estaduais e Federais.
    </li>
    <li>
        Geração das guias de recolhimento de Pessoas Físicas e Jurídicas.
    </li>
    <li>
        Cumprimento rigoroso do calendário de entrega das obrigações acessórias.
    </li>
    <li>
        Analise da movimentação fiscal das empresas, realizando comparações entre as diferentes formas
        tributárias e orientando quanto a melhor opção tributária conforme o perfil de cada
        empresa.
    </li>
    <li>
        Relatório Gerencial Fiscal.
    </li>
    <li>
        Realização de todo o processo de admissão e demissão.
    </li>
    <li>
        Atualização constante dos registros de funcionários.
    </li>
    <li>
        Geração das folhas de pagamento mensais e as devidas guias de recolhimento dos
        encargos.
    </li>
    <li>
        Acompanhamento e gerenciamento dos eventos como férias; licença maternidade; reajustes de
        salários por convenção coletiva, dentre outros.
    </li>
    <li>
        Folha da Empregada Doméstica.
    </li>
    <li>
        Relatório Gerencial de Pessoal.
    </li>
    <li>
        Elaboração dos Relatórios Gerenciais.
    </li>
    <li>
        Escrituração do Livro Caixa.
    </li>
    <li>
        Realização da declaração do IRPF (Imposto de Renda Pessoa Física).
    </li>
    <li>
        Solução de pendências junto à Receita Federal.
    </li>
    <li>
        Realizamos todo o processo de abertura e baixa de empresas.
    </li>
    <li>
        Posicionamento constante aos clientes quanto ao andamento dos processos de abertura e fechamento das
        empresas.
    </li>
</ul>
