<p>BPO Financeiro&nbsp;é um dos serviços relacionados à Contabilidade Consultiva e tem por objetivo, auxiliar na gestão do negócio dos nossos clientes.</p>
<p>É a terceirização das atividades que não estão diretamente relacionadas a atividade fim da sua empresa e tomam parte importante do seu tempo que poderia estar direcionado para abertura de novos negócios e relacionamento com clientes, ou seja, ações que podem aumentar sua produtividade e representatividade no mercado.</p>
<p>O B.P.O oferece serviços que vão além da tratativa comum da contabilidade e você ainda economiza tempo e dinheiro com a contratação e treinamento de um funcionário para execução desses serviços. Além disso, a capacitação técnica da do profissional da contabilidade vai lhe proporcionar a qualidade das informações que farão diferença na condução do seu negócio.</p>
<ul>
    <li>
        Gestão de contas a pagar e receber
    </li>
</ul>
<p>A rotina inclui lançar contas a pagar na plataforma financeira, realizar agendamentos no internet banking, sempre condicionada a autorização do cliente, via confirmação de pagamento no próprio sistema bancário;</p>
<p>O controle das contas a receber trata do lançamento das contas a receber, podendo incluir os serviços de emissão de boletos bancários e/ou notas fiscais.</p>
<ul>
    <li>
        Acompanhamento de Receitas por Centro de Custo
    </li>
</ul>
<p>Acompanhamento de Receitas e Despesas por centro de custo, com informações relevantes para tomada de decisões, como por exemplo a manutenção ou não de determinado serviço ou setor.</p>
<ul>
    <li>
        Conciliação bancária
    </li>
</ul>
<p>Fazer a conciliação diária das movimentações e de todas as rotinas financeiras do negócio do cliente, para garantir que os saldos batam sempre com o que consta no banco.</p>
<ul>
    <li>
        Gestão da documentação
    </li>
</ul>
<p>Arquivamento em nuvem de toda a documentação financeira, garantindo um controle maior e acesso rápido e permanente do cliente.</p>
