<p><strong>Planejamento tributário consiste na execução de procedimentos lícitos como alternativa para reduzir a carga tributária incidente tanto sobre a renda da Pessoa Física, quanto das receitas de Pessoas Jurídicas.&nbsp;</strong></p>
<p>Os profissionais autônomos atuantes na área da saúde, principalmente o médico, devido as particularidades da profissão, carecem de orientações específicas para realizar um eficaz planejamento tributário.</p>
<p>A fim de atender esta demanda, desenvolvemos o Relatório Tributário, um trabalho especializado, abordando as especificidades desse nicho de mercado tão singular de forma simples e objetiva, para que você possa gerenciar sua carreira e administrar sua renda de forma mais consciente e produtiva.</p>
<p>A consultoria desenvolvida pela TGL Contábil, mantém um olhar atento para os profissionais da saúde e envolve o acompanhamento mensal de toda a contabilidade da Pessoa Física, a escrituração mensal do Livro Caixa, a folha de pagamento, inclusive do empregado doméstico, o monitoramento constante da situação fiscal do contribuinte perante os órgãos Municipais e Federais. Também trabalhamos monitorando o volume da renda auferida, a fim de utilizar todas as ferramentas legais disponíveis, como por exemplo, a viabilidade de constituição de uma Pessoa jurídica.</p>
<p>Veja algumas das soluções que a Consultoria Tributária pode oferecer:</p>
<ul>
    <li>
        <p>Elaboração da Declaração de Imposto de Renda da Pessoa Física;</p>
    </li>
    <li>
        <p>Elaboração mensal do Livro Caixa;</p>
    </li>
    <li>
        <p>Deduções legais aplicáveis a Pessoa Física</p>
    </li>
    <li>
        <p>Análise de retorno das fontes pagadoras;</p>
    </li>
    <li>
        <p>Análise de viabilidade de constituição da Pessoa Jurídica;</p>
    </li>
    <li>
        <p>Crescimento da renda e patrimônio;</p>
    </li>
    <li>
        <p>Solução de pendências junto à Receita Federal e Prefeitura;</p>
    </li>
    <li>
        <p>Cálculo do ganho de capital em vendas de ações ou imóveis;</p>
    </li>
    <li>
        <p>Acompanhamento do pagamento do ISS</p>
    </li>
</ul>
