<p>Questionamentos sobre o futuro são comuns, mas, no que diz respeito à fase da aposentadoria, quando desejamos aproveitar
de uma maneira segura e tranquila, o resultado do que construímos ao longo do nosso período laborativo, é necessário
sermos práticos e nos organizar com antecedência, para não termos nossas expectativas frustradas devido a defasagem de
renda e queda do padrão de vida.</p>
<p>Porém a burocracia e a falta de informação podem levá-lo a tomar decisões precipitadas, que podem resultar em prejuízo
financeiro, como consequência de uma aposentadoriaa mal planejada.</p>
<p>O Planejamento Previdenciário é o estudo do seu tempo de contribuição, da expectativa da idade e valor do salário de
aposentadoria que você tem direito nos diversos Regimes de Previdência, além da análise das atividades desenvolvidas ao
longo da carreira, que podem beneficiá-lo com uma contagem de tempo maior ou com a aposentadoria especial, por exemplo.</p>
<p>Portanto, procurar a orientação de profissionais especializados em Previdência para orientá-lo quanto aos seus direitos
é fundamental para o sucesso do seu planejamento para a aposentadoria. Com base na legislação aplicada a cada caso
específico, apuramos a melhor alternativa para você.</p>
<p>Entre em contato conosco, a TGL Consultoria é especializada e executa todo o processo para requerimento da aposentadoria
visando o melhor benefício possível.</p>
<p>Dentre os serviços prestados pela TGL Consultoria estão:</p>
<ul>
    <li>Contagem do tempo para aposentadoria tanto por idade quanto por tempo de contribuição;</li>
    <li>Cálculo do salário de aposentadoria</li>
    <li>Verificação de lacunas ou contribuições abaixo do mínimo exigido ou fora do prazo de recolhimento</li>
    <li>Orientação quanto ao PPP – Perfil Profissiográfico Previdenciári</li>
    <li>Elaboração do processo de aposentadoria</li>
    <li>Apresentação de recurso</li>
    <li>Regras de Transição, pós-reforma</li>
</ul>
<p>
    Principalmente após a Reforma Previdenciária, é muito importante se posicionar quanto à sua realidade financeira
    quando parar de trabalhar, seja por vontade ou necessidade.
</p>

<p>

    Oferecemos todos os seviços necessários para a solução destas pendências e acessoria jurídica no requerimento dos
    seus benefícios, inclusice da sua aposentadoria.
</p>
