<p>Licença da Vigilância Sanitária, CNES, Alvará de Localização..., enfim, como regularizar sua clínica ou
        consultório?</p>
<p>Por ser tratar de um estabelecimento da área da saúde, antes de abrir sua clínica ou consultório, você precisa estar
    ciente de que <strong>existem muitas regulamentações e requisitos exigidos pela lei para que você possa exercer sua
        atividade com tranquilidade</strong>.</p>
<p>O <strong>processo de regularização é bastante burocrático</strong>, mas necessário para que o padrão de qualidade
    dos estabelecimentos de saúde seja preservado.</p>
<hr />
<h4>Para regularizar sua clínica ou consultório as principais exigências são:</h4>
<ul>
    <li>
        Obtenção da Licença da Vigilância Sanitária;
    </li>
    <li>
        Obtenção do CNES – Cadastro Nacional de Estabelecimento de Saúde;
    </li>
    <li>
        Obtenção do Alvará de Localização;
    </li>
    <li>
        Plano de Gerenciamento de Resíduos.
    </li>
    <li>
        Projeto Arquitetônico.
    </li>
</ul>
<p>Uma consultoria especializada para o enquadramento correto da atividade, realização dos trâmites, acompanhamento do
    processo, traz <strong>mais segurança e tranquilidade para você</strong> na hora de regularizar seu consultório ou
    clínica.</p>
<p>A TGL realiza todo o processo de regularização para você. Somos especializados no profissional da saúde e
    conhecemos o passo a passo dos processos, economizando tempo na seleção e tratativa dos documentos e evitando gastos
    desnecessários com indeferimentos.</p>
<hr />
<h4>Alvará Sanitário</h4>
<p>O cadastro na Vigilância Sanitária exige o preenchimento de formulários específicos e o envio de documentos
    complementares. <strong>Essa licença é fundamental para seu consultório poder funcionar</strong>.</p>
<p>Esse&nbsp;documento comprova&nbsp;que a Vigilância Sanitária Municipal analisou o estabelecimento para checar sua
    estrutura física, procedimentos, responsabilidade técnica, recursos humanos e condições de higiene e, que ele atende
    a legislação sanitária vigente.</p>
<hr />
<h4>Cadastro no CNES</h4>
<p>O CNES (Cadastro Nacional de Estabelecimentos de Saúde) é <strong>um banco de dados com todos os estabelecimentos que
        prestam serviços de saúde</strong>, públicos e privados, existentes em todo território nacional.</p>
<p>A solicitação de cadastro no CNES só é possível <strong>após ter em mãos o protocolo da Vigilância
        Sanitária</strong>.</p>
<p>O CNES é exigido pelos convênios para que você seja credenciado e para que os pacientes possam, solicitar o reembolso
    desses convênios.</p>
<p>Sempre que houver alteração dos dados do estabelecimento, é necessário retificar as informações e atualizar o
    cadastro.</p>
<hr />
<h4>Alvará de Funcionamento da Prefeitura</h4>
<p>Antes de alugar ou comprar o imóvel no qual pretende instalar seu consultório ou sua clínica é preciso realizar uma
    consulta prévia <strong>para se certificar que seu estabelecimento estará regular</strong>.</p>
<p>O alvará será concedido ou não por cada prefeitura, de acordo com o mapeamento de zonas da cidade. Há ainda muitos
    casos em que o local não possui os documentos exigidos no processo e o trâmite para regularização pode levar anos.
</p>
<p>Por isso a importância de <strong>consultar um profissional da área antes de iniciar o processo</strong>.</p>
<p>Você pode&nbsp;regularizar um consultório como pessoa física ou como pessoa jurídica. A diferença entre os dois
    processos são os documentos solicitados.</p>
<p>A <strong>Licença de Funcionamento da Prefeitura geralmente é renovada a cada cinco anos, mas é preciso ficar atento
        a prazos inferiores.</strong></p>
<p><strong>PGRSS - Plano de Gerenciamento de Resíduos (PGRSS) ou Declaração de Não Gerador</strong></p>
<p>Qualquer clínica ou consultório é um <strong>estabelecimento gerador de resíduos sólidos de serviços de
        saúde</strong>. Devido aos procedimentos realizados no estabelecimento de saúde, são gerados lixos específicos
    que não podem se misturar com o lixo comum, pelo <strong>risco de contaminação com&nbsp;os resíduos biológicos,
        químicos e perfurocortantes</strong>.</p>
<p>Portanto, é necessário apresentar um plano de gerenciamento destes resíduos, que envolve o devido armazenamento e a
    contratação de uma empresa especializada na coleta e transporte deste tipo de resíduo, que após a coleta, são
    transportados para o destino e tratamento adequados.</p>
