<p>Com as inúmeras e constantes atualizações na legislação trabalhista brasileira, assim como as diversas obrigações que existem neste cenário, muitas pessoas acabam ficando vulneráveis a problemas que poderiam ser evitados caso houvesse um acompanhamento eficiente de uma consultoria previdenciária independente.</p>
<p>Pensando nisso, nós da TGL oferecemos um serviço de consultoria previdenciária de excelência, onde realizamos o levantamento completo da situação dos nossos clientes desde a sua inscrição inicial, contagem de tempo para aposentadoria, levantamento de débito, revisão de benefícios e das novas regras de previdência estabelecidas pela reforma trabalhista, dentre outros, de maneira hábil.</p>
<p>Tudo isso para garantir que o planejamento previdenciário seja feito com clareza, e você consiga atingir uma aposentadoria justa, atendendo a todos os requisitos legais previstos nas leis do trabalho.</p>
