@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full;

    scroll-behavior: smooth;
}

/* purgecss start ignore */
.post-content {

    font-weight: 300;

    h1 {
        @apply lg:text-4xl text-3xl my-3;
    }

    h2 {
        @apply lg:text-3xl text-2xl my-3;
    }

    h3 {
        @apply lg:text-2xl text-xl my-3;
    }

    h4 {
        @apply lg:text-xl text-lg my-3;
    }

    hr {
        @apply my-5;
    }

    p {
        @apply py-1;
    }

    ul {


        > li {
            @apply flex items-center py-1;

            &::before {
                content: '';
                flex: 0 0 auto;
                @apply inline-flex rounded-full bg-secondary h-1.5 w-1.5 mr-3;
            }
        }
    }

    img {
        @apply shadow-md border-4 border-gray-100 my-4 inline-flex;
    }

    a {
        @apply text-primary;
    }

    blockquote {
        @apply border-l-8 border-gray-300 pl-3;
    }

    code {
        @apply bg-gray-400 text-white px-1 rounded-md;
    }

    pre {
        @apply bg-gray-900 p-3 text-white my-5 overflow-auto ;

        code {
            @apply bg-transparent text-white;
        }
    }
}

.slider-scroller {
    scroll-behavior: smooth;
}

.typer-text {
    position: relative;

    &::after {
        content: '|';
        display: block;
        position: absolute;
        right: -10px;
        bottom: 0;
        @apply animate-pulse;
    }
}

@import 'node_modules/aos/src/sass/aos.scss';
/* purgecss end ignore */




